@import '../styles/globals';

.CurrentTemp {
  text-align: center;
  color: $secondary-color;
  .CurrentTemp__High,
  .CurrentTemp__Low {
    transform: scaleY(0.9);
    font-size: $font-xxxlarge;
    font-weight: $font-xlarge;
    font-style: italic;
  }
}
