@import '../styles/globals';

.Header {
  text-align: left;
  padding: $margin-default;
  margin-left: $margin-default;
  margin-top: $margin-default;

  .Header__Credit {
    width: 100%;
    background: $primary-color;
    color: $secondary-color;
    padding: 0.625rem $margin-default;
    text-align: right;
    position: absolute;
    font-style: italic;
  }

  .Header__Title {
    color: $secondary-color;
    margin-left: $margin-large;
    margin-top: $margin-large;
    font-size: $font-xxlarge;
    transform: scaleY(0.9);
    font-weight: $font-weight-bold;
  }

  .Header__CurrentTime {
    color: $secondary-color;
    margin-left: $margin-large;
    margin-top: $margin-default;
    font-size: $font-xlarge;
    transform: scaleY(0.9);
  }
}
