@import '../styles/globals';

.Header {
  text-align: left;
  padding: 0rem;
  margin-left: 0rem;
  margin-top: 0rem;

  .Header__Credit {
    width: 100%;
    background: $primary-color;
    color: $secondary-color;
    padding: 0.625rem 0rem;
    text-align: right;
    position: absolute;
    font-style: italic;
  }

  h1 {
    color: $secondary-color;
    margin-left: 2.813rem;
    margin-top: 3rem;
    font-size: $font-xxlarge;
    transform: scaleY(0.9);
  }

  p {
    color: $secondary-color;
    margin-left: 3rem;
    margin-top: 0rem;
    font-size: $font-xlarge;
    transform: scaleY(0.9);
  }
}
