@import '../styles/globals';

.Header {
  text-align: left;

  .Header__Credit {
    width: 100%;
    background: $primary-color;
    padding: 0.625rem $margin-default;
    text-align: right;
    position: absolute;
    font-style: italic;
  }

  .Header__Title,
  .Header__CurrentTime {
    margin-left: $margin-large;
    transform: scaleY(0.9);
  }

  .Header__Title {
    margin-top: $margin-large;
    font-size: $font-xxlarge;
    font-weight: $font-weight-bold;
  }

  .Header__CurrentTime {
    font-size: $font-xlarge;
  }
}
