//base colors
$sky-blue: #87ceeb;
$snow-white: #ffffff;
$cream: #efeac5;
$red-pink: #e38da2;
$dark-blue: #001261;
$light-transparent-blue: rgba(52, 152, 219, 0.9);

//component colors
$primary-color: $sky-blue;
$secondary-color: $snow-white;
$third-color: $cream;
$fourth-color: $red-pink;
$fifth-color: $dark-blue;
$sixth-color: $light-transparent-blue;
