//base colors
$sky-blue: #87ceeb;
$snow-white: #ffffff;
$cream: #efeac5;
$red-pink: #e38da2;
$light-transparent-blue: rgba(52, 152, 219, 0.9);

//component colors
$primary-color: $sky-blue;
$secondary-color: $snow-white;
$temperature-color: $cream;
$wind-color: $red-pink;
$weather-card-bg: $light-transparent-blue;
