@import url('https://fonts.googleapis.com/css?family=Open+Sans:900;700;400;600;300&display=swap');

//Font family
$font-family-sans-serif: 'Open Sans', sans-serif;

//Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//font sizes
$font-size-small: 0.9em;
$font-size-base: 1em;
$font-size-large: 1.25em;
$font-size-x-large: 2.0em;
$font-size-xx-large: 2.15em;
$font-size-xx-large: 2.5em;

$line-height-base: 1;
$letter-spacing-base: -0.025em;
