@import url('https://fonts.googleapis.com/css?family=Open+Sans:900;700;400;600;300&display=swap');

//Font family
$font-family-sans-serif: 'Open Sans', sans-serif;

//Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//font sizes
$font-small: 0.9rem;
$font-medium: 1rem;
$font-large: 1.25rem;
$font-xlarge: 2rem;
$font-xxlarge: 2.15rem;
$font-xxxlarge: 2.5rem;

$line-height-base: 1;
$letter-spacing-base: -0.025rem;
