@import './fonts';
@import './colors';
@import './sizes';

html,
body {
  font-family: $font-family-sans-serif;
  color: $secondary-color;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
