$margin-small: -90px;
$margin-base-0: 0px;
$margin-base-1: 1px;
$margin-large: 10px;
$margin-x-large: 20px;
$margin-xx-large: 30px;
$margin-xxx-large: 150px;

$padding-base: 0px;
$padding-large: 10px;
$padding-x-large: 15px;
$padding-xx-large: 20px;

$border-radius-small: 5px;
$border-radius-large: 20px;

$box-gap-small: 20px;
$box-gap-large: 45px;

$line-border-base: 1px;
