@import '../styles/globals';

.App {
  color: $snow-white;
  height: 100vh;
  display: flex;
  background: url('../styles/pictures/background-nasa.jpg') no-repeat center center fixed;
  background-size: cover;
}
