@import '../styles/globals';

.WeatherCardsAll {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: $margin-larger;
  margin-top: $margin-large;
}

.WeatherCard {
  background-color: $sixth-color;
  text-align: center;
  border-radius: $margin-large;
  line-height: $margin-large;
  transform: scaleY(0.9);
  font-size: $font-large;
  padding-top: $margin-larger;
  padding-bottom: $margin-larger;
  .WeatherCard__Weekday {
    font-weight: $font-weight-semi-bold;
  }
  .WeatherCard__Date {
    font-weight: $font-weight-light;
  }
  .WeatherCard__TempHigh,
  .WeatherCard__TempLow {
    font-style: italic;
    color: $temperature-color;
  }
  .WeatherCard__WindHigh,
  .WeatherCard__WindLow {
    font-style: italic;
    color: $wind-color;
  }
}

hr {
  width: 90%;
  border: 1px solid $secondary-color;
}
