@import '../styles/globals';

.PastTempsCards {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: $margin-larger;
  margin-top: $margin-xlarge;
}

.PastTempsCard {
  background-color: rgba(52, 152, 219, 0.7);
  text-align: center;
  border-radius: $margin-large;
  line-height: $margin-large;
  transform: scaleY(0.9);
  font-size: $font-large;
  padding-top: $margin-larger;
  padding-bottom: $margin-larger;
  .PastTempsCard__Weekday {
    font-weight: $font-weight-semi-bold;
  }
  .PastTempsCard__Date {
    font-weight: $font-weight-light;
  }
  .PastTempsCard__High,
  .PastTempsCard__Low {
    font-style: italic;
  }
}

hr {
  width: 90%;
  border: 1px solid $secondary-color;
}
